---
layout: page
main_image_path:
image_caption:
carousel:
  - image: /assets/images/4b1e6c531a6d5.jpg
    caption:
    link:
  - image: /uploads/img-0669.jpg
    caption:
    link:
  - image: /assets/images/4b124d0100ed0.jpg
    caption:
    link:
  - image: /assets/images/4d07ac565d8c4.jpg
    caption:
    link:
  - image: /assets/images/501a96af3c5d4.jpg
    caption:
    link:
  - image: /assets/images/503653c15b3b3.jpg
    caption:
    link:
_options:
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
---
  <div class="page">
		{% if page.carousel %}
      <!-- <div class="two-thirds no-gutter"> -->

        <div class="flexslider">
          <ul class="slides">
            {% for slides in page.carousel %}
            <li>
              {% if slides.link %}
              <a href="{{ site.baseurl }}{{ slides.link }}" title="View project">
              {% endif %}
              {% include img.html src=slides.image width=960 alt=slides.caption %}
              {% if slides.link %}
              </a>
            {% endif %}
              {% if slides.caption %}
              <p class="flex-caption">{% if slides.link %}<a href="{{ site.baseurl }}{{ slides.link }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.link %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>

      <!-- </div> -->
      {% endif %}

    <div class="intro editable">
    <p></p>
    </div>
  </div>